# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env
.venv
env/
env.bak/
venv.bak/

# Node/React
node_modules/
/frontend/build
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
yarn.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Uploaded files
backend/uploads/*
!backend/uploads/.gitkeep
backend/backend/uploads/*
!backend/backend/uploads/.gitkeep

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp 